#app {
  background-color: #f0f0f0;
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
#app .container-wrap {
  padding: 0 9rem;
}
#app .header-wrap {
  width: 375rem;
  height: 167.5rem;
  background-color: #1aaa52;
  box-sizing: border-box;
  border-bottom-right-radius: 5rem;
  padding-top: 10rem;
}
#app .header-wrap .header-top {
  height: 47rem;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  right: 0;
  background-color: #1aaa52;
  padding: 6rem 9rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .header-wrap .header-top img:first-of-type {
  width: 55rem;
  height: 18rem;
}
#app .header-wrap .header-top .search-box {
  position: relative;
}
#app .header-wrap .header-top .search-box input {
  box-sizing: border-box;
  width: 255rem;
  height: 30rem;
  line-height: 30rem;
  font-size: 12rem;
  padding-left: 27.5rem;
  background: #ffffff;
  border-radius: 15rem;
  border: none;
}
#app .header-wrap .header-top .search-box input::placeholder {
  font-size: 12rem;
  color: #666666;
}
#app .header-wrap .header-top .search-box img {
  width: 13rem;
  height: 13rem;
  position: absolute;
  top: 8.5rem;
  left: 10rem;
}
#app .header-wrap .header-top .shopping-card {
  text-align: center;
}
#app .header-wrap .header-top .shopping-card img {
  width: 17rem;
  height: 17rem;
  margin-bottom: 3.5rem;
}
#app .header-wrap .header-top .shopping-card div {
  height: 8.5rem;
  font-size: 9rem;
  color: #ffffff;
  line-height: 9rem;
  opacity: 0.8;
}
#app .slideshow-wrap {
  position: absolute;
  left: 9rem;
  top: 64rem;
  width: 357rem;
  height: 140rem;
  overflow: hidden;
  box-sizing: border-box;
}
#app .slideshow-wrap > img {
  width: 100%;
  border-radius: 5rem;
}
#app .body-wrap {
  background-color: #f0f0f0;
  box-sizing: border-box;
  margin-top: 46rem;
}
#app .body-wrap .greed-item,
#app .body-wrap .pink-item {
  font-size: 8rem;
  padding: 2rem 9rem;
  border-radius: 8rem;
}
#app .body-wrap .greed-item {
  color: #1aaa52;
  background-color: #d1eedc;
}
#app .body-wrap .pink-item {
  color: #ff5c5c;
  background-color: #ffdede;
}
#app .body-wrap .gray-item {
  font-size: 10rem;
  color: #999999;
}
#app .body-wrap .title-item {
  font-size: 15rem;
  font-weight: bold;
  color: #000;
}
#app .body-wrap .tap-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#app .body-wrap .tap-box .tap-item {
  width: 113rem;
  height: 44rem;
  box-sizing: border-box;
  border-radius: 8rem;
  padding: 11rem 0 10rem 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 9rem;
}
#app .body-wrap .tap-box .tap-item:nth-child(1) {
  background-color: #d1eedc;
  color: #1aaa52;
}
#app .body-wrap .tap-box .tap-item:nth-child(2) {
  background-color: #eee6d1;
  color: #ffa716;
}
#app .body-wrap .tap-box .tap-item:nth-child(3) {
  background-color: #ffdede;
  color: #ff5c5c;
}
#app .body-wrap .tap-box .tap-item:nth-child(4) {
  background-color: #eee6d1;
  color: #ff9e10;
}
#app .body-wrap .tap-box .tap-item:nth-child(5) {
  background-color: #ffdede;
  color: #ff5c5c;
}
#app .body-wrap .tap-box .tap-item:nth-child(6) {
  background-color: #d1eedc;
  color: #1aaa52;
}
#app .body-wrap .tap-box .tap-item > img {
  width: 24rem;
  height: 24rem;
  margin-right: 9rem;
}
#app .body-wrap .tap-box .tap-item span {
  font-size: 15rem;
}
#app .body-wrap .product-wrap {
  background-color: #fff;
  margin-bottom: 9rem;
  border-radius: 8rem;
}
#app .body-wrap .product-wrap .product-box {
  display: flex;
}
#app .body-wrap .product-wrap .product-box .product-item {
  width: calc(100% / 2);
  height: 151rem;
  box-sizing: border-box;
  border-bottom: 1rem solid #f0f0f0;
  padding: 14rem;
}
#app .body-wrap .product-wrap .product-box .product-item + .product-item {
  border-left: 1rem solid #f0f0f0;
}
#app .body-wrap .product-wrap .product-box .product-item .product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .body-wrap .product-wrap .product-box .product-item .product-title h3 {
  font-size: 15rem;
  font-weight: bold;
  color: #000;
}
#app .body-wrap .product-wrap .product-box .product-item .product-goods {
  display: flex;
  justify-content: space-between;
}
#app .body-wrap .product-wrap .product-box .product-item .product-goods .product-good-item {
  text-align: center;
}
#app .body-wrap .product-wrap .product-box .product-item .product-goods .product-good-item > img {
  width: 60rem;
  height: 79rem;
}
#app .body-wrap .product-wrap .product-box .product-item .product-goods .product-good-item .price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .body-wrap .product-wrap .product-box .product-item .product-goods .product-good-item .price-item .new-price {
  font-size: 12rem;
  color: #ff5c5c;
}
#app .body-wrap .product-wrap .product-box .product-item .product-goods .product-good-item .price-item .old-price {
  font-size: 10rem;
  color: #999999;
  text-decoration: line-through;
}
#app .body-wrap .product-wrap .product-box .product-item .product-goods .product-good-item .price-item .new-price + .old-price,
#app .body-wrap .product-wrap .product-box .product-item .product-goods .product-good-item .price-item .old-price + .new-price {
  margin-left: 5rem;
}
#app .body-wrap .product-wrap .product-news {
  display: flex;
  align-items: center;
  height: 40rem;
}
#app .body-wrap .product-wrap .product-news > img {
  width: 60rem;
  height: 15rem;
  padding: 0 11rem;
}
#app .body-wrap .product-wrap .product-news > span {
  color: #1a1a1a;
  font-size: 13rem;
}
#app .body-wrap .rubber-box {
  background-color: #fff;
  display: flex;
  border-radius: 8rem;
  margin-bottom: 9rem;
}
#app .body-wrap .rubber-box .rubber-item {
  padding: 14rem;
}
#app .body-wrap .rubber-box .rubber-item + .rubber-item {
  border: 1rem solid #f0f0f0;
}
#app .body-wrap .rubber-box .rubber-item .title-item {
  display: flex;
  justify-content: space-between;
}
#app .body-wrap .rubber-box .rubber-item .body-item-1 {
  margin-top: 7rem;
  width: 156rem;
  height: 88rem;
  display: flex;
  align-items: flex-end;
  background-image: url(../image/乡村旅游图1.png);
}
#app .body-wrap .rubber-box .rubber-item .body-item-1 > div {
  width: 100%;
  height: 20rem;
  font-size: 12rem;
  color: #fff;
  text-align: center;
  line-height: 20rem;
}
#app .body-wrap .rubber-box .rubber-item .body-item-2 {
  margin-top: 7rem;
  width: 156rem;
  height: 88rem;
  display: flex;
}
#app .body-wrap .rubber-box .rubber-item .body-item-2 li {
  width: calc(100% / 2);
  height: 100%;
  font-size: 12rem;
  color: #fff;
  text-align: center;
}
#app .body-wrap .rubber-box .rubber-item .body-item-2 li > img {
  width: 60rem;
  height: 60rem;
  margin: 0 10rem 10rem 10rem;
  border-radius: 50%;
}
#app .body-wrap .rubber-box .rubber-item .body-item-2 li > span {
  font-size: 12rem;
  color: #000;
}
#app .body-wrap .slideshow-goods-wrap {
  width: 357rem;
  height: 140rem;
  margin-bottom: 9rem;
}
#app .body-wrap .slideshow-goods-wrap > img {
  width: 100%;
  border-radius: 5rem;
}
#app .body-wrap .tourism-box {
  width: 100%;
  box-sizing: border-box;
  padding: 11rem;
  background-color: #fff;
  margin-bottom: 9rem;
  border-radius: 8rem;
}
#app .body-wrap .tourism-box .title-box {
  height: 44rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .body-wrap .tourism-box .title-box .title-left {
  display: flex;
  align-items: center;
}
#app .body-wrap .tourism-box .body-box {
  display: flex;
}
#app .body-wrap .tourism-box .body-box .body-item {
  width: calc(100% / 2);
  text-align: center;
}
#app .body-wrap .tourism-box .body-box .body-item > img {
  width: 162rem;
  height: 91rem;
}
#app .body-wrap .tourism-box .body-box .body-item > div {
  margin-top: 10rem;
  font-size: 12rem;
  color: #333;
}
#app .body-wrap .land-wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 11rem;
}
#app .body-wrap .land-wrap .title-box {
  height: 44rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .body-wrap .land-wrap .title-box .title-left {
  display: flex;
  align-items: center;
}
#app .body-wrap .land-wrap .body-box .body-item {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
}
#app .body-wrap .land-wrap .body-box .body-item .item-left > img {
  width: 110rem;
  height: 83rem;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right {
  margin-left: 10rem;
  width: 218rem;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right > h3 {
  font-size: 13rem;
  color: #333;
  line-height: 19rem;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right > ul {
  display: flex;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right > ul li {
  font-size: 10rem;
  padding: 0 5rem;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right > ul li + li {
  border-left: 1rem solid #ccc;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right .price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right .price-item .price-left > img {
  width: 10rem;
  height: 10rem;
  margin: 0 5rem;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right .price-item .price-left > span {
  font-size: 10rem;
  color: #666;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right .price-item .price-right .gray-size {
  font-size: 12rem;
  color: #999;
}
#app .body-wrap .land-wrap .body-box .body-item .item-right .price-item .price-right .red-size {
  margin-left: 6rem;
  font-size: 15rem;
  color: #ff5c5c;
}
#app .body-wrap .used-box {
  width: 100%;
  box-sizing: border-box;
  padding: 11rem;
  background-color: #fff;
  margin-bottom: 9rem;
  border-radius: 8rem;
}
#app .body-wrap .used-box .title-box {
  height: 44rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .body-wrap .used-box .title-box .title-left {
  display: flex;
  align-items: center;
}
#app .body-wrap .used-box .body-box {
  display: flex;
}
#app .body-wrap .used-box .body-box .body-item {
  width: calc(100% / 2);
  text-align: center;
}
#app .body-wrap .used-box .body-box .body-item > img {
  width: 163rem;
  height: 163rem;
}
#app .body-wrap .used-box .body-box .body-item > div {
  text-align: left;
  margin-top: 10rem;
  font-size: 12rem;
  color: #333;
}
#app .navigation-wrap {
  position: fixed;
  bottom: 0;
  height: 49rem;
  width: 375rem;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
}
#app .navigation-wrap .navigation-item {
  width: 25%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app .navigation-wrap .navigation-item:hover .active-image,
#app .navigation-wrap .navigation-item:nth-child(1) .active-image {
  display: inline-block;
}
#app .navigation-wrap .navigation-item:hover .default-image,
#app .navigation-wrap .navigation-item:nth-child(1) .default-image {
  display: none;
}
#app .navigation-wrap .navigation-item:hover .navigation-text,
#app .navigation-wrap .navigation-item:nth-child(1) .navigation-text {
  color: #1aaa52;
}
#app .navigation-wrap .navigation-item .default-image,
#app .navigation-wrap .navigation-item .active-image {
  width: 20rem;
  height: 20rem;
  padding-bottom: 5rem;
}
#app .navigation-wrap .navigation-item .default-image {
  display: inline-block;
}
#app .navigation-wrap .navigation-item .active-image {
  display: none;
}
#app .navigation-wrap .navigation-item .navigation-text {
  font-size: 12rem;
  color: #333333;
}
