/* 可以编译 */
.outer {
  width: 1000px;
  height: 700px;
  border: 2px solid #ccc;
}
.outer .inner1 {
  width: 100px;
  height: 100px;
}
.outer .inner1 > p {
  background-color: blue;
}
.outer .inner1:hover {
  font-size: 40px;
}
.outer div:nth-child(3) {
  width: 300px;
}
